*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7e1d7;
    color: #472d30;
    text-align: center;
}

/*Headings*/
h1,h2{
    user-select: none;
    font-size: clamp(1.8rem, 5vw, 4.5rem);
}
h1{
    margin-top: 2vh;
}

/*Winner announcement container*/
.msg-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}

/*Buttons: restart & reset*/
#restart-btn{
    border: 3px solid #723d46;
    height: 6vh;
    width: 7vw;
    border-radius: 8px;
    background-color: #ffe1a8;
    color: #e26d5c;
    font-size: clamp(0.3rem, 2vw, 1.2rem);
    font-weight: bold;
}
#reset-btn{
    border: 3px solid #723d46;
    height: 6vh;
    width: 8%;
    aspect-ratio: 1/2;
    border-radius: 8px;
    background-color: #ffe1a8;
    color: #e26d5c;
    font-size: clamp(0.3rem, 2vw, 1.2rem);
    font-weight: bold;
}

/*Game Container*/
.game-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxes-container{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-boxes-container{
    height: 60vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.box{
    /* height: 18vh; */
    width: 26%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 5px solid #723d46;
    background-color: #ffe1a8;
    color: #e26d5c;
    font-size: clamp(5vmin, 5vw, 10vmin);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}